.filters {
  color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  /* box-sizing: border-box; */
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -50%);
  right: 30px;
  opacity: 0.9;
}

.filters button:hover {
  opacity: 1;
}
