.filters {
  color: black;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  opacity: 0.9;
  margin-left: auto;
}

.filters button:hover {
  opacity: 1;
}

.locations,
.amenities {
  width: 25%;
  height: 100%;
  margin-left: 20px;
}

.filters div:first-child {
  border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin-bottom: 0;
}

.locations h4,
.amenities h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.filters h3 {
  font-weight: 600;
  margin-bottom: 0px;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
}

.filters .popover {
  display: none;
  background-color: #fafafa;
  margin-left: -20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative;
}

.filters h2 {
  margin: 0px;
  font-size: 16px;
  margin-left: -13px;
}

.filters .locations li:nth-child(4) {
  margin-top: 20px;
}

.filters li {
  cursor: pointer;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}
